h1 {
    text-align: center;
    color:cornflowerblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.main {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 8px;
    margin: 10px 100px;
}

.index {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 40px 70px;
    padding: 20px;
    text-align: center;
}

.yellow {
    color:darkorange;
}

.brown {
    color:brown;
}

.gold {
    color:rgb(184, 165, 56);
}

.img {
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.content {
    padding: 3px 90px;
}

.back {
    margin: 20px;
    text-align: center;
}

a:link {
    color:chocolate
}

a:visited {
    color:chocolate;
}
hr {
    width: 1300px
}

.menu {
    margin: 5px auto;
}

a {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}